# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.scratch_space/
generated_plugin_registrant.dart

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/.idea/
**/android/.settings/
**/android/.externalNativeBuild/

# iOS & macOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/.flutter-plugins
**/ios/.flutter-plugins-dependencies
**/ios/.generated/
**/ios/Runner.xcworkspace/
**/ios/.dart_tool/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/.symlinks/
**/macos/.dart_tool/
**/macos/.flutter-plugins
**/macos/.flutter-plugins-dependencies

# Web
**/web/generated_plugin_registrant.dart

# Linux & Windows
**/linux/flutter/ephemeral/
**/linux/.dart_tool/
**/linux/.flutter-plugins
**/linux/.flutter-plugins-dependencies
**/windows/flutter/ephemeral/
**/windows/.dart_tool/
**/windows/.flutter-plugins
**/windows/.flutter-plugins-dependencies

# IDEs & Tools
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Build output
build/
!android/app/src/main/res/raw/

# Others
*.log
*.lock
*.tmp
*.swp
